{% extends "_base.html" %}

{% block content %}

<div class="about-c">
<a href="/index"><img src="{{url_for('static', filename='img/daen.png')}}"></a>
    <p class="about-p">我是谁？</p>
    <p class="about-p">我从哪里来？</p>
    <p class="about-p">我要到哪里去？</p>
<p class="about-p">哎！我还没有想清楚！！！</p>
<br>
<hr>
<h3>about me</h3>
<p class="about-p">网络 ID：<a href="/index">hidaen</a></p>
<p class="about-p">微博：<a href="http://weibo.com/idaen">hidaen</a></p>
<p class="about-p">微信 ID：hidaen</p>
<P class="about-p">MAIL：<a href=mailto:hidaen@gmail.com>hidaen[at]gmail.com</a></P>
</div>
{% endblock %}
